:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: rgb(78, 161, 255);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.cards-array-container {
  margin-top: 100px;
}

.card-container {
  margin-top: 20px;
  width: 525px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(231, 230, 230);
}

.world-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.travel-image {
  width: 140px;
  height: 185px;
  object-fit: cover;
  border-radius: 10px;
}

.location-container {
  margin-left: 20px;
}

.city-container {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

.map-icon {
  width: 9px;
  height: 12px;
}

.city-title {
  padding-left: 5px;
  letter-spacing: 3px;
}

.google-maps-link {
  color: gray;
  text-decoration: underline;
  font-size: 12px;
  margin-left: 10px;
}

h1 {
  margin: 0;
}

.travel-date {
  font-size: 15px;
  margin: 4px 0;
}

.location-description {
  font-size: 12px;
}